// tenupchallenge: Footer styles

.footer {
  @extend .bg-background;
  
  display: flex;
  justify-content: center;
  padding: 30px;

  a {
    transform: scale(1.0);
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
  }
}