#header {
  position: absolute;
  padding-bottom: 56px;
  margin-bottom: -56px;
  display: flex;
  width: 100%;
  padding-left: 90px;
  padding-right: 60px;
  padding-top: 48px;
  justify-content: space-between;
  align-items: end; // maybe baseline? check design
  z-index: 10; // Above normal content
}