// tenupchallenge: Nav menu styles

nav#nav {

}

button.nav-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;

  &:hover {
    opacity: 0.8;
  }

}

*[aria-expanded="true"] .nav-open\:block {
  display: block;
}
.nav-primary--container {
  @extend .nav-open\:block;
  
  display: none;
  position: absolute;
  top: 19px;
  right: 19px;
}
.nav-primary {
  list-style: none;
  margin: 0;
  min-width: 264px;
  padding: 42px;

  &--container {
    @extend .bg-background, .text-white;
  }
  li {
    @extend .text-large, .text-weight-bold;

    line-height: 1;
    margin-bottom: 64px;
    &:last-child {
      margin-bottom: calc(64px - 42px);
    }

    a {
      text-decoration: none;

      &:hover {
        opacity: 0.8;
      }

      &:focus, &:active {
        @extend .text-eyebrow;
      }
    
    }
  }
  .close-btn-container {
    text-align: right;
    margin-bottom: 70px;
  }
  .icon-close {
    position: absolute;
    top: 44px;
    right: 44px;
  }
  
}