// tenupchallenge: Providing typography classes and setting body default font

$font-sizes: (
  'normal': 1.25rem, //20px Content text
  'large': 1.75rem, //28px Menu items
  'xl': 2.25rem, //36px Callout Heading
  '2xl': 4rem, //64px Hero Heading
);

$font-families: (
  'montserrat': '"Montserrat", sans-serif',
  'cousine': '"Cousine", monospace',
);

$font-weights: (
  'medium': 400,
  'semibold': 600,
  'bold': 700,
);

@each $name, $dim in $font-sizes {
  .text-#{$name} {
    font-size: $dim;
  }
}

@each $name, $family in $font-families {
  .text-#{$name} {
    font-family: #{$family};
  }
}

@each $name, $weight in $font-weights {
  .text-weight-#{$name} {
    font-weight: $weight;
  }
}

.text-style-default {
  @extend .text-normal, .text-montserrat, .text-weight-medium;

  .dark & {
    @extend .text-white;
  }
}

body {
  @extend .text-style-default;
}

.eyebrow {
  @extend .text-normal, .text-cousine, .text-weight-bold, .text-eyebrow-alt;

  .dark & {
    @extend .text-eyebrow;
  }
}

h1 {
  @extend .text-2xl, .text-weight-bold;
  letter-spacing: 0.015em;
  margin-bottom: 56px;
}

h2 {
  @extend .text-xl, .text-weight-bold;
  letter-spacing: 0.015em;
  margin-bottom: 50px;
}

.header {
  .dark & {
    @extend .text-white;
  }
}
